on:
  push:
    paths:
      - inst/selenium/src/main/kotlin/com/rstudio/seleniumRunner/Main.kt
      - inst/selenium/pom.xml
      - .github/workflows/build-selenium.yml
  repository_dispatch:
    types:
      - all
      - build

name: Selenium

jobs:
  selenium:
    name: Build Jar
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
        name: Git Pull

      - uses: actions/cache@v1
        name: Maven Cache
        with:
          path: ~/.m2/repository
          key: ${{ runner.config.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.config.os }}-maven-

      - name: Git Config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"


      - name: Build Selenium Jar
        run: |
          export MAVEN_OPTS="-Xmx4G -XX:MaxPermSize=2G"
          cd inst/selenium
          mvn package
          cp target/selenium-1.0.0-jar-with-dependencies.jar selenium.jar
          git add selenium.jar

      - name: Git Push
        if: github.event_name == 'push'
        run: |
          git commit -m 'Maven build (GitHub Actions)' || echo "No Maven changes to commit"
          git push https://${{github.actor}}:${{secrets.GITHUB_TOKEN}}@github.com/${{github.repository}}.git HEAD:${{ github.ref }} || echo "No changes to push"
